= gitlab_ui_form_for @application_setting, url: ci_cd_admin_application_settings_path(anchor: 'js-runner-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .gl-form-group
      %span.form-text.gl-mb-3.gl-mt-0
        = _('If no options are selected, only administrators can register runners.')
        = link_to _('Learn more.'), help_page_path('user/admin_area/settings/continuous_integration', anchor: 'restrict-runner-registration-by-all-users-in-an-instance'), target: '_blank', rel: 'noopener noreferrer'
      = hidden_field_tag "application_setting[valid_runner_registrars][]", nil
      - ApplicationSetting::VALID_RUNNER_REGISTRAR_TYPES.each do |type|
        = f.gitlab_ui_checkbox_component :valid_runner_registrars, s_("Runners|Members of the %{type} can register runners") % { type: type },
          checkbox_options: { multiple: true, checked: valid_runner_registrars.include?(type) },
          checked_value: type,
          unchecked_value: nil

  = f.submit _('Save changes'), class: "gl-button btn btn-confirm"
